html {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  /* font-size: 1rem; */
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  font-family: Karma, serif;
  /* font-size: 1.4rem; */
}

main {
  width: 80%;
  margin: 0 auto;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;

  /* removing align-items: center allowed cards stretching to same height */
}

img {
  display: block;
  width: 100%;
}

h2 {
  color: #6f00e7;
  font-size: 2rem;
  margin-bottom: 0;
}

li {
  border: 3px solid #987ffa;
  border-radius: 6px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

li > img:first-child {
  width: 60%;
}

h2 + p {
  font-weight: lighter;
  margin-top: 0;
  text-align: center;
}

li span {
  color: white;
}

li p:last-child {
  display: flex;
  align-items: center; /* vertical alignment (center) */
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: .25em;
  width: 100%;
  flex-grow: 1;
}

/* HOW TO PUT CART IMAGE AND TEXT SIDE BY SIDE ??? */

/* UNEXPECTED ACCORDING TO MARKBOT BUT THEN ??? */

.cart img {
  /* display: inline; */
  width: 25%;
}

.cart {
  display: flex;
  background-color: #6f00e7;
  border-radius: 3em;
  font-family: Oswald, sans-serif;
  padding: .25em 1rem;
  text-align: left;
}

.cart a {
  color: white;
  padding: .2em;
  text-decoration: none;
}

.icons {
  display: flex;
}

.icons a:first-child {
  margin-right: .5em;
  /* border: 2px solid red; */
}
